@import "./cssComponents/navbar.css";
@import "./cssComponents/header.css";
@import "./cssComponents/about.css";
@import "./cssComponents/contact.css";
@import "./cssComponents/kits.css";
@import "./cssComponents/repair.css";
@import "./cssComponents/products.css";
@import "./cssComponents/values.css";
@import "./cssComponents/reviews.css";
@import "./cssComponents/footer.css";

body {
  margin: 0;
  padding-top: 4rem;
  font-family: "Inter", sans-serif;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}
