.navbar {
  background-color: #0b9586;
  color: white;
  position: fixed;
  padding: 1rem 9.3rem;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 70px;
  height: 70px;
}
.logo img {
  width: 100%;
}
.navicons ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
}
.navicons li a {
  padding: 0.5rem 1.75rem;
  color: white;
  font-size: 1.1rem;
}
.navcall {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.navcall h5 {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
}
.navcall span {
  font-size: 1.1rem;
}
.nav-headings {
  display: flex;
  gap: 2rem;
}
.menubar {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .navicons ul {
    flex-direction: column; /* Stack the nav links vertically */
    text-align: center;
  }

  .nav-headings {
    display: none;
  }
  .nav-headings {
    flex-direction: column;
  }
  .nav-container {
    flex-direction: row;
  }
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .menubar {
    display: block;
    cursor: pointer;
  }
  .navicons ul {
    flex-direction: column;
  }
  .menubar:hover + .nav-container .nav-headings {
    display: flex;
  }
  .menubar:hover ~ .nav-container {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 1200px) {
  .navbar {
    padding: 1rem 3rem;
  }
  .navicons li a {
    padding: 0.5rem;
    color: white;
  }
}
